@font-face {
    font-family: 'fonteTitulos';
    src: url('fonts/frankfrt.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'fonteParagrafos';
    src: url('fonts/bauhs93.ttf');
}

@font-face {
    font-family: 'fonteTextos';
    src: url('fonts/trebucit.ttf');
}

@font-face {
    font-family: 'fonteHeads';
    src: url('fonts/LOKICOLA.TTF');
}

body {
    background-color: mistyrose;
    color: #1e1e1e;
    margin: 0;
    font-family: 'fonteParagrafos';
    font-size: 30px; 
    text-align: center;
}

header {
    background-color: #1e1e1e;
    color: gold;
    font-family: 'fonteTitulos';
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
}

.text {
    flex: 1;
    text-align: right;
}

h2 {
    font-family: 'fonteTitulos';
    font-size: 35px;
    color: #7D0F2A; /* vermelho vinho */
}

footer {
    background-color: #1e1e1e;
    color: gold;
    font-family: 'fonteParagrafos';
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

p {
    font-family: 'fonteParagrafos';
    font-size: 30px; 
    text-align: center;
    color: #1e1e1e; /* cor grafite */
}

.menu-container {
    display: flex;
}

.menu-vertical {
    flex: 0 0 200px;
    background-color: mistyrose;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu-vertical ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-vertical ul li a {
    text-decoration: none;
    color: #7D0F2A;
    padding: 10px;
    display: block;
}

.menu-vertical ul li a:hover {
    background-color: black;
}

.menu-vertical ul li a:visited {
    color: #7D0F2A;
}

button {
    background-color: #2E8B57;
    color: mistyrose;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
}

.alert-box {
    display: none;
    margin-top: 20px;
}

.alert-box.show {
    display: block;
}

.alert-box button {
    margin-top: 20px;
}

.container-cart, .container-ckt {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: mistyrose;
    text-align: center;
}

.container-ckt .btn {
    background-color: #2E8B57;
    color: mistyrose;
}

.container-ag, .container-obg {
    padding: 2rem;
    background: linear-gradient(45deg, #FFC0CB, #FF69B4);
    color: black;
}

.btn-home {
    margin-top: 1rem;
    background-color: #E83E8C; /* rosa vibrante */
    color: black;
}

.btn-tks {
    margin-top: 1rem;
    background-color: #E83E8C; /* rosa vibrante */
    color: black;
}

.p-obg {
    text-align: left;
    font-family: 'fonteTextos';
}

.h2-obg {
    text-align: center;
    font-family: 'fonteHeads';

}